<section class="list">
<%= render 'partials/user', user: @user %>
<div class='bio'>
<h3>Bio </h3>
<p><%= @user.bio %></p>
<button class='btn'><%= link_to 'Create Post', new_user_post_path(@user)%></button>
</div>
<ul class='card'>
    <% @user.recent_three_posts.each_with_index do |post, index| %>
        <p>Post #<%= index+1 %></p>
        <%= render 'partials/post', post: post %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>"> See more</a>
    <% end %>
</ul>
<button class="btn"><%= link_to "See all posts", user_posts_path(@user.id)%></button>
</section>

