<section class='added'>
<h3>Create Post</h3>
<%= form_with model: @post, url: user_posts_path, method: :post, scope: :new_post do |form| %>
  <div class="label">
    <%= form.label :Subject %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="add">
    <%= form.label :Comment %>
    <%= form.text_area :text, class: "form-control text" %>
  </div>
    <div class='submit'>
    <%= form.submit %>
    </div>
<% end %>
</section>